<img
  src='assets/icons/onboarding-card-rds-logo.png'
  alt='RDS-Logo'
  class='signup-details__rds-logo'
  data-test-rds-logo
/>
<h3 data-test-required-heading class='signup-page-heading'>
  Sign up to your account
</h3>

<Reusables::InputBox
  @field='First Name'
  @name='firstname'
  @placeHolder='Write your first name'
  @type='text'
  @required={{true}}
  @value={{this.data.firstname}}
  @onInput={{this.inputHandler}}
  @onKeydown={{this.avoidNumbersAndSpaces}}
  @hasButtonInsideInput={{false}}
  @disabled={{false}}
/>
<Reusables::InputBox
  @field='Last Name'
  @name='lastname'
  @placeHolder='Write your last name'
  @type='text'
  @required={{true}}
  @value={{this.data.lastname}}
  @onInput={{this.inputHandler}}
  @onKeydown={{this.avoidNumbersAndSpaces}}
  @hasButtonInsideInput={{false}}
  @disabled={{false}}
/>

<Reusables::InputBox
  @field='Username'
  @name='username'
  @type='text'
  @required={{true}}
  @value={{this.username}}
  @isValid={{this.isValid}}
  @hasButtonInsideInput={{true}}
  @classDisableInput='input-disable'
  @onClickGetUsername={{this.getUsername}}
  @onInput={{this.inputHandler}}
  @onKeydown={{this.avoidNumbersAndSpaces}}
  @disabled={{true}}
/>