<h3 data-test-required-heading class='heading__h3'>
  Sign up to your account
</h3>

<Reusables::OnboardingInput
  @field='First Name'
  @name='firstname'
  @placeHolder='Write your first name'
  @type='text'
  @required={{true}}
  @value={{this.data.firstname}}
  @onInput={{this.inputHandler}}
  @hasButtonInsideInput={{false}}
  @disabled={{false}}
/>

{{#if this.errorMessage.firstname}}
  <div class='error__message'>{{this.errorMessage.firstname}}</div>
{{/if}}

<Reusables::OnboardingInput
  @field='Last Name'
  @name='lastname'
  @placeHolder='Write your last name'
  @type='text'
  @required={{true}}
  @value={{this.data.lastname}}
  @onInput={{this.inputHandler}}
  @hasButtonInsideInput={{false}}
  @disabled={{false}}
/>

{{#if this.errorMessage.lastname}}
  <div class='error__message'>{{this.errorMessage.lastname}}</div>
{{/if}}

<Reusables::OnboardingInput
  @field='Username'
  @name='username'
  @type='text'
  @required={{true}}
  @value={{this.data.username}}
  @isValid={{this.isValid}}
  @hasButtonInsideInput={{true}}
  @classDisableInput='input-disable'
  @onClickGetUsername={{this.getUsername}}
  @onInput={{this.inputHandler}}
  @disabled={{true}}
/>

<Reusables::Dropdown
  @field='Select your role'
  @name='role'
  @placeHolder='Choose Your Role'
  @required={{true}}
  @value={{this.data.role}}
  @options={{this.role}}
  @onChange={{this.inputHandler}}
/>

<div class='step-one__button'>
  <Reusables::Button
    @text={{if (eq this.data.role 'Developer') 'Signup' 'Next'}}
    @variant='dark'
    @onClick={{@handleButtonClick}}
    @test={{if (eq this.data.role 'Developer') 'signup' 'next'}}
    @disabled={{if this.isSignupButtonDisabled true false}}
    @type='button'
  />
</div>