<div data-test-dropdown class='dropdown'>
  <label data-test-label class='label' for={{@name}}>{{@field}}</label>
  {{#if @required}}
    <span data-test-required class='required'>*</span>
  {{/if}}

  <select
    data-test-dropdown-field
    class='dropdown__field select'
    name={{@name}}
    id={{@name}}
    required={{@required}}
    {{on 'change' (pick 'target.value' @onChange)}}
  >
    <option
      data-test-dropdown-default
      disabled
      selected
    >{{@placeHolder}}</option>
    {{#each @options as |choice|}}
      <option
        data-test-dropdown-options
        value={{choice}}
        selected={{eq choice @value}}
      >{{choice}}</option>
    {{/each}}
  </select>
</div>