<div data-test-input class='input-box'>
  <label data-test-label class='label' for={{@name}}>{{@field}}</label>
  {{#if @required}}
    <span data-test-required class='required'>*</span>
  {{/if}}
  <input
    data-test-input-field
    name={{@name}}
    class='input__field user-input input-regular {{@classname}}'
    type={{@type}}
    id={{@name}}
    placeholder={{@placeHolder}}
    required={{@required}}
    value={{@value}}
    disabled={{@disabled}}
    {{on 'input' @onInput}}
  />
</div>