<div class="link__container">
  <small>{{@label}}</small>
  <a data-test-login={{@auth}} class="join__link" href={{@authUrl}}>
    <span>{{@signInText}}</span>
    <img
      data-test-login-img
      class="login__logo"
      src={{@iconSrc}}
      alt={{@altText}}
      height="24px"
      width="24px"
    />
  </a>
</div>