<div class="user-details">
  <h2 class="user-details__heading" data-test-signup-form-label>
    {{this.label}}
  </h2>

  <div class="user-details__role-field">
    {{#each this.checkboxData as |data|}}
      <label
        class="user_details__checkbox-label"
        data-test-checkbox-label={{data.name}}
      >
        <input
          type="checkbox"
          name={{data.name}}
          checked={{false}}
          {{on "change" this.checkboxFieldChanged}}
          class="user-details__checkbox-input"
          data-test-checkbox-input={{data.name}}
        />
        {{data.label}}
      </label>
    {{/each}}
  </div>

  <div class="signup-action__btn">
    <Reusables::Button
      @type="button"
      @text="Submit"
      @test="signup"
      @disabled={{@isButtonDisabled}}
      @isLoading={{@isLoading}}
      @onClick={{@onClick}}
    />
  </div>
</div>