{{#if @disabled}}
  <button  data-test-button class="btn btn-{{@variant}} btn-disabled" type="button" disabled={{@disabled}}>{{@text}}</button>
{{else}}
  <button  data-test-button class="btn btn-{{@variant}}" type="button">{{@text}}</button>
{{/if}}