{{#if this.login.isLoading}}
  loading...
{{else if this.login.userData}}
  <div data-test-debug-grids class="debug__grid-container">
    <div data-test-debug-profile class="debug__profile debug__grid-item">
      <div class="debug__profile__image-container">
        <img
          data-test-debug-image
          src={{this.debugProfileData.imageURL}}
          alt="user Profile"
        />
      </div>
      <h2
        data-test-debug-name
        class="debug__profile__name"
      >{{this.debugProfileData.fullName}}</h2>
    </div>
    <div data-test-debug-social class="debug__social debug__grid-item">
      <ul>
        {{#each-in this.debugSocialData as |social socialId|}}
          <li>
            <p data-test-debug-social-id={{social}}><span
                class="debug--bold"
              >{{social}}:</span>
              {{socialId}}</p>
          </li>
        {{/each-in}}
      </ul>
    </div>
    <div data-test-debug-user class="debug__user debug__grid-item">
      <ul>
        {{#each-in this.debugUserData as |key value|}}
          <li>
            <p data-test-debug-user-data={{key}}><span class="debug--bold">
                {{key}}:</span>
              {{value}}</p>
          </li>
        {{/each-in}}
        <li class="debug__user__roles-container">
          <p class="debug--bold">Roles:</p>
          <ul>
            {{#each-in this.debugUserRolesData as |role value|}}
              <li><p data-test-debug-role={{role}}><span
                    class="debug--semibold"
                  >{{role}}:</span>
                  {{value}}</p></li>
            {{/each-in}}
          </ul>
        </li>
      </ul>
    </div>
    <div data-test-debug-features class="debug__features debug__grid-item">
      <div class="debug__features__feature-flag">
        <h3 class="debug--bold">Features Flags:</h3>
        <ul data-test-debug-feature-flags>
          {{#each this.debugFeaturesData.featureFlags as |featureFlag|}}
            <li><p>{{featureFlag}}</p></li>
          {{/each}}
        </ul>
      </div>
      <div data-test-debug class="debug__features__superuser">
        <div class="debug__features__superuser__indicator-container">
          <h3 class="debug--bold">Super User</h3>
          <div
            data-test-debug-superuser-indicator
            class="debug__features__superuser__indicator
              {{if
                this.debugFeaturesData.isSuperUser
                'debug__features__superuser__indicator--active'
              }}"
          ></div>
        </div>
        <p
          data-test-debug-superuser-message
          class="debug__features__superuser__message"
        >{{#if this.debugFeaturesData.isSuperUser}}You're a super user.
            Remember, with great power comes great responsibilities!{{else}}You're
            not a super user.{{/if}}</p>
      </div>
      {{#if this.debugFeaturesData.isSuperUser}}
        <div class="debug__features__superuser-privileges">
          <h3 class="debug--semibold">Apply privileges: </h3>
          <div class="privileges-toggle__container">
            <label
              data-test-debug-apply-privileges-button
              class="privileges-toggle"
            >
              <input type="checkbox" class="privileges-toggle__checkbox" />
              <span class="privileges-toggle__slider"></span>
            </label>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  <div data-test-debug-error-message class="debug__error-message">
    <p>Something went wrong... </p>
    <p>Please try again.</p>
  </div>
{{/if}}