{{#if this.isDev}}
  <section class='events__section'>
    <h2 data-events-section-header class='events__section__header'>You can check
      out all our events below!!</h2>
    {{#each-in this.EVENTS_CATEGORIES as |category events|}}
      <div class='events__category'>
        <h3
          data-events-category={{category}}
          class='events__category__header'
        >{{category}}:</h3>
        <div class='events__links__container'>
          {{#each events as |event index|}}
            {{#if (not-eq index 0)}}
              <span>|</span>
            {{/if}}
            <a
              data-events-link={{event.name}}
              href={{event.link}}
              class='event__link'
            >{{event.name}}</a>
          {{/each}}
        </div>
      </div>
    {{/each-in}}
  </section>
{{/if}}