<footer class='footer'>
  <div class='footer__container'>
    <div class='footer__sites-about'>
      <h3 class='col__title'>Sites</h3>
      <ul class='col__list'>
        <li><a href={{this.HOME_URL}}>Home</a></li>
        <li><a href={{this.WELCOME_URL}}>Welcome</a></li>
        <li><a href={{this.MEMBERS_URL}}>Members</a></li>
        <li><a href={{this.CRYPTO_URL}}>Crypto</a></li>
        <li><a href={{this.STATUS_URL}}>Status</a></li>
        <li><a href={{this.PROFILE_URL}}>My Profile</a></li>
      </ul>
    </div>
    <div class='footer__sites-about'>
      <h3 class='col__title'>About</h3>
      <ul class='col__list'>
        <li><a href={{this.JOIN_URL}}>How to Join?</a></li>
        <li><a href={{this.FAQ_URL}}>FAQ</a></li>
        <li><a href={{this.DISCORD__URL}}>Discord</a></li>
        <li><a href={{this.COC_URL}}>Code of Conduct</a></li>
      </ul>
    </div>
    <div class='footer__col'>
      <h3 class='col__title'>Social Media</h3>
      <div class='social'>
        <a
          href={{this.LINKEDIN_URL}}
          target='_blank'
          class='social__links'
          rel='noopener noreferrer'
        >
          <img
            class='social__icons'
            src='assets/icons/linkedin-black.png'
            alt='LinkedIn Icon'
          />
        </a>
        <a
          href={{this.TWITTER_URL}}
          target='_blank'
          class='social__links'
          rel='noopener noreferrer'
        >
          <img
            class='social__icons'
            src='assets/icons/twitter-black.png'
            alt='Twitter Icon'
          />
        </a>
        <a
          href={{this.FACEBOOK_URL}}
          target='_blank'
          class='social__links'
          rel='noopener noreferrer'
        >
          <img
            class='social__icons'
            src='assets/icons/facebook-black.png'
            alt='Facebook Icon'
          />
        </a>
        <a
          href={{this.INSTAGRAM_URL}}
          target='_blank'
          class='social__links'
          rel='noopener noreferrer'
        >
          <img
            class='social__icons'
            src='assets/icons/instagram-black.png'
            alt='Instagram Icon'
          />
        </a>
      </div>
    </div>
    <div class='footer__col'>
      <h3 class='col__title'>Newsletter</h3>
      <div>
        <input
          type='text'
          class='newsletter__input'
          placeholder='Enter your email'
        />
        <button class='newsletter__button'>Subscribe</button>
      </div>
    </div>
  </div>
  <div class='footer__repo'>
    <img class='repo__img' src='assets/icons/github-black.png' />
    <p class='repo__text'>The contents of the website are deployed from this
      <a class='repo__link'>open sourced repo</a>
    </p>
  </div>
</footer>