<header>
  <button
    data-test-toggle-button
    type="button"
    class="hamburger--toggle"
    {{on "click" this.toggleNavbar}}
  >
    <FaIcon @icon="bars" @size="2x" />
  </button>

  <nav class="nav">
    <ul data-test-nav-menu class="nav__menu {{if this.isNavOpen 'active' ''}}">
      <li>
        <LinkTo data-test-home-link @route={{this.HOME_PAGE}} class="nav__home">
          <img
            data-test-home-img
            class="nav__home__img"
            src="assets/images/rds-logo.png"
            alt="Real_Dev_Squad"
          />
        </LinkTo>
      </li>
      <li>
        <LinkTo
          data-test-home
          class="nav__home__link nav__element"
          @route={{this.HOME_PAGE}}
        >
          Home
        </LinkTo>
      </li>
      <li><a
          data-test-welcome
          class="nav__element"
          href={{this.WELCOME_URL}}
        >Welcome</a></li>
      {{! Events section is to be migrated, will use it once its done,
          track it here https://github.com/Real-Dev-Squad/website-www/issues/787 }}
      <li><a
          data-test-events
          class="nav__element"
          href={{this.EVENTS_PAGE}}
        >Events</a></li>
      <li><a
          data-test-members
          class="nav__element"
          href={{this.MEMBERS_URL}}
        >Members</a></li>
      <li><a
          data-test-status
          class="nav__element"
          href={{this.STATUS_URL}}
        >Status</a></li>
      {{#if @dev}}
        <li>
          {{! TODO - remove query for dev when it goes to production }}
          <LinkTo
            @route={{this.LIVE_URL}}
            @query={{hash dev="true"}}
            class="nav__element"
          >Live</LinkTo>
        </li>
      {{/if}}
    </ul>
  </nav>

  <div class="header__login">
    {{#if @isLoading}}
      <div data-test-loading class="skeleton-holder">
        <div
          class="skeleton-holder__rectangle"
          id="skeleton-holder__rectangle"
        ></div>
        <div class="skeleton-holder__circle" id="skeleton-holder__circle"></div>
      </div>
    {{else}}
      {{#if @isLoggedIn}}
        <button
          data-test-dropdown-toggle
          class="header__user"
          type="button"
          {{on "click" this.toggleMenu}}
          {{on-click-outside this.outsideClickMenu}}
        >
          <div data-test-user-name class="user__msg">Hello, {{@firstName}}</div>
          <img
            data-test-user-image
            class="user__pic"
            src={{(or @profilePicture "/assets/images/profile.png")}}
            alt="User"
          />
          <Fa-Icon data-test-icon @icon="chevron-down" />
        </button>
      {{else}}
        <a
          data-test-login
          class="login"
          href={{if @dev "/login?dev=true" this.AUTH_URL}}
        >
          {{#if @dev}}
            <span class="login__signin">Sign In</span>
          {{else}}
            <span class="login__signin">Sign In</span>
            <span class="login__github">with GitHub</span>
            <img
              data-test-login-img
              class="login__logo"
              src="assets/icons/github-logo.png"
              alt="GitHub"
              height="20px"
              width="20px"
            />
          {{/if}}
        </a>
      {{/if}}
    {{/if}}
  </div>

  <section
    data-test-dropdown
    class="menu {{if this.isMenuOpen 'active-menu' ''}}"
  >
    <LinkTo
      data-test-dropdown-home
      @route={{this.HOME_PAGE}}
      class="menu__link"
      rel="noopener noreferrer"
      target="_blank"
    >
      Home
    </LinkTo>
    <a
      data-test-dropdown-status
      href={{this.MY_STATUS_URL}}
      class="menu__link"
      rel="noopener noreferrer"
      target="_blank"
    >
      Status
    </a>
    <a
      data-test-dropdown-profile
      href={{this.PROFILE_URL}}
      class="menu__link"
      rel="noopener noreferrer"
      target="_blank"
    >
      Profile
    </a>
    <a
      data-test-dropdown-tasks
      href={{this.TASKS_URL}}
      class="menu__link"
      rel="noopener noreferrer"
      target="_blank"
    >
      Tasks
    </a>
    <a
      data-test-dropdown-identity
      href={{this.IDENTITY_URL}}
      class="menu__link"
      rel="noopener noreferrer"
      target="_blank"
    >
      Identity
    </a>
    <hr class="line" />
    <div
      id="signout"
      data-test-signout
      role="button"
      class="menu__link"
      {{on "click" @signOut}}
    >
      Sign Out
    </div>
  </section>
</header>