<button
  class='icon-button {{@class}}'
  type='button'
  {{on 'click' (fn @onClick @id)}}
  data-test-icon-button={{@id}}
>
  <img data-test-iconbtn-img={{@id}} src={{@src}} alt={{@id}} />
</button>