<div class='sidebar {{if this.isSideBarOpen "open" "close"}}'>
  <div class='sidebar__participants'>
    <h4>Participants</h4>
    <button
      class='sidebar__accordian-button'
      {{on 'click' this.toggleMobileSidebar}}
      type='button'
    >
      <IconifyIcon
        data-test-icon='arrow-down'
        height='40'
        width='40'
        @icon='material-symbols:keyboard-arrow-down-rounded'
      />
    </button>
  </div>
  <div class='sidebar__body {{if this.isSideBarOpen "open" "close"}}'>
    <div class='body__host'>
      <span class='host__container'>
        <img class='host__image' src={{@hostProfilePicture}} alt='host' />
      </span>
      <span class='host__name'>
        {{#each @peers as |peer|}}
          {{#if (eq peer.roleName this.ROLES.host)}}
            {{peer.name}}
          {{/if}}
        {{/each}}
        is presenting</span>
    </div>
    <div class='body__role-user'>
      <p class='role-user__type guestUsers'>Guest Users</p>
      <ul>
        {{#each @peers as |peer|}}
          {{#if (eq peer.roleName this.ROLES.guest)}}
            <li class='user'>
              <p>{{peer.name}}</p>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>