<div data-test-sidebar-body-role class='body__role-user'>
  <p
    data-test-sidebar-body-role-guest
    class='role-user__type guestUsers'
  >{{@user}} (<span>{{this.participantsCount}}</span>) </p>
  <ul>
    {{#if (not-eq @minimumParticipants @role)}}
      <li data-test-sidebar-user={{'peer.id'}} class='user'>
        <p>No {{@user}} in the stream</p>
      </li>
    {{else}}
      {{#each @peers as |peer|}}
        {{#if (eq peer.roleName @role)}}
          <li
            data-test-sidebar-user={{peer.id}}
            class='user
              {{if (eq peer.id this.liveService.localPeer.id) "self" ""}}'
          >
            <p>{{peer.name}}</p>
            {{#if
              (or
                (eq this.liveService.localPeer.roleName this.ROLES.host)
                (eq this.liveService.localPeer.roleName this.ROLES.moderator)
              )
            }}
              {{#if (not-eq peer.id this.liveService.localPeer.id)}}
                {{#if this.liveService.isUserRemoved}}
                  <div class='loading'>
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                {{else}}
                  {{#if (not-eq peer.roleName this.ROLES.host)}}
                    <button
                      type='button'
                      class='user__btn'
                      {{on 'click' (fn @openKickoutModal peer)}}
                    >
                      <IconifyIcon
                        data-test-icon='remove'
                        @icon='material-symbols:person-remove'
                        width='36'
                        height='36'
                        color='red'
                      />
                    </button>
                  {{/if}}
                {{/if}}

              {{/if}}

            {{/if}}
          </li>
        {{/if}}
      {{/each}}
    {{/if}}

  </ul>
</div>