<section class='card live__join'>
  <h3 class='card__title'>Join the Event</h3>
  <form onsubmit={{this.clickHandler}}>
    <Reusables::InputBox
      @field='Name'
      @name='name'
      @type='text'
      @required={{true}}
      @value={{this.name}}
      @onInput={{this.inputHandler}}
    />
    <Reusables::Button
      @test='live-join'
      @type='button'
      @variant='dark'
      @text='Join'
      @onClick={{this.clickHandler}}
    />
  </form>
</section>