<div class='live-panel'>
  {{#each this.BUTTON_MAPPING as |button|}}
    <IconButton
      @id={{button.id}}
      @src={{button.srcImg}}
      @class={{button.className}}
      @alt={{button.alt}}
      @onClick={{this.buttonClickHandler}}
    />
  {{/each}}
     <Reusables::Button
      @text='Start'
      @variant='pink live-panel__btn'
      @onClick={{this.startLiveHandler}}
      @test='start-live'
      @type='button'
    />
</div>