<div
  data-test-sidebar
  class='sidebar
    {{if this.isSideBarOpen "open" "close"}}
    {{if @isExpanded "sidebarCloses" "sidebarOpens"}}'
>
  <button
    class='openbtn'
    type='button'
    {{on 'click' this.sidebarPanel}}
  >&#9776;</button>

  <div
    data-test-sidebar-participants
    class='sidebar__participants {{if @isExpanded "sidebar__participantsHide"}}'
  >
    <h4
      class='{{if @isExpanded "participantsHeadingHide" ""}}'
    >Participants</h4>
    <button
      data-test-sidebar-button
      class='sidebar__accordian-button'
      {{on 'click' this.toggleMobileSidebar}}
      type='button'
    >
      <IconifyIcon
        data-test-icon='arrow-down'
        height='40'
        width='40'
        @icon='material-symbols:keyboard-arrow-down-rounded'
      />
    </button>
  </div>
  <div
    data-test-sidebar-body
    class='sidebar__body {{if this.isSideBarOpen "open" "close"}}'
  >
    <div data-test-sidebar-body-host class='body__host'>
      <span data-test-sidebar-host-container class='host__container'>
        <img
          data-test-sidebar-host-image
          class='host__image'
          src={{if
            @hostProfilePicture
            @hostProfilePicture
            '/assets/images/profile.png'
          }}
          alt='host'
        />
      </span>
      <span data-test-sidebar-host-name class='host__name'>
        {{#each @peers as |peer|}}
          {{#if (eq peer.roleName this.ROLES.host)}}
            {{peer.name}}
          {{/if}}
        {{/each}}
        is presenting</span>
    </div>
    <div data-test-sidebar-body-role class='body__role-user'>
      <p
        data-test-sidebar-body-role-guest
        class='role-user__type guestUsers'
      >Guest Users</p>
      <ul>

        {{#each @peers as |peer|}}
          {{#if (eq peer.roleName this.ROLES.guest)}}
            <li data-test-sidebar-user={{peer.id}} class='user'>
              <p>{{peer.name}}</p>
              {{#if (eq this.liveService.localPeer.roleName this.ROLES.host)}}
                <button
                  type='button'
                  class='user__btn'
                  {{on 'click' (fn @openKickoutModal peer)}}
                >
                  <IconifyIcon
                    data-test-icon='remove'
                    @icon='material-symbols:person-remove'
                    width='36'
                    height='36'
                    color='red'
                  />
                </button>
              {{/if}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>