<div class='live-panel' data-test-live-panel>
  {{#if (eq @role 'host')}}
    <Reusables::IconButton
      @id='screen-share'
      @class='icon-button--md'
      @title={{if @isScreenShareOn 'Stop Share' 'Screen Share'}}
      @onClick={{@buttonClickHandler}}
      @icon={{if
        @isScreenShareOn
        'material-symbols:stop-screen-share'
        'material-symbols:screen-share'
      }}
    />
    <Reusables::IconButton
      @id='copy-link'
      @class='icon-button--md'
      @title='Invite link'
      @onClick={{@buttonClickHandler}}
      @icon={{if @isCopied 'material-symbols:done' 'material-symbols:copy-all'}}
    />
  {{/if}}
  <Reusables::IconButton
    @id='leave-room'
    @class='icon-button--md icon-button--pink-bg'
    @title='Leave Room'
    @onClick={{@buttonClickHandler}}
    @icon='material-symbols:call-end'
  />
</div>