<div data-test-sidebar class='sidebar {{if this.isSideBarOpen "open" "close"}}'>
  <div data-test-sidebar-participants class='sidebar__participants'>
    <h4>Participants</h4>
    <button
      data-test-sidebar-button
      class='sidebar__accordian-button'
      {{on 'click' this.toggleMobileSidebar}}
      type='button'
    >
      <IconifyIcon
        data-test-icon='arrow-down'
        height='40'
        width='40'
        @icon='material-symbols:keyboard-arrow-down-rounded'
      />
    </button>
  </div>
  <div data-test-sidebar-body class='sidebar__body {{if this.isSideBarOpen "open" "close"}}'>
    <div data-test-sidebar-body-host class='body__host'>
      <span data-test-sidebar-host-container class='host__container'>
        <img data-test-sidebar-host-image class='host__image' src={{@hostProfilePicture}} alt='host' />
      </span>
      <span data-test-sidebar-host-name class='host__name'>
        {{#each @peers as |peer|}}
          {{#if (eq peer.roleName this.ROLES.host)}}
            {{peer.name}}
          {{/if}}
        {{/each}}
        is presenting</span>
    </div>
    <div data-test-sidebar-body-role class='body__role-user'>
      <p data-test-sidebar-body-role-guest class='role-user__type guestUsers'>Guest Users</p>
      <ul>
        {{#each @peers as |peer|}}
          {{#if (eq peer.roleName this.ROLES.guest)}}
            <li data-test-sidebar-user={{peer.name}} class='user'>
              <p>{{peer.name}}</p>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>