<section data-test-card class='card live__join'>
  <h3 data-test-card-title class='card__title'>Join the Event</h3>
  <form onsubmit={{@clickHandler}}>
    <Reusables::InputBox
      @field='Name'
      @name='name'
      @type='text'
      @placeHolder='Enter your name'
      @required={{true}}
      @value={{@name}}
      @onInput={{fn @inputHandler 'name'}}
    />
    {{#if (eq @role 'maven')}}
      <Reusables::InputBox
        @field='Room Code'
        @name='roomCode'
        @type='text'
        @placeHolder='Enter room code'
        @required={{true}}
        @value={{@roomCode}}
        @onInput={{fn @inputHandler 'roomCode'}}
      />
    {{/if}}
    <div>
      <Reusables::Button
        @test='live-join'
        @type='button'
        @variant='light'
        @text='Back'
        @onClick={{@backHandler}}
      />
      <Reusables::Button
        @test='live-join'
        @type='button'
        @variant='dark'
        @text={{if (eq @role 'host') 'Create Event' 'Join'}}
        @onClick={{@clickHandler}}
      />
    </div>
  </form>
</section>