<nav class='nav'>
  <button
    data-test-toggle-button
    type='button'
    class='hamburger--toggle'
    {{on 'click' this.toggleNavbar}}
  >
    <FaIcon @icon='bars' @size='2x' />
  </button>

  <ul data-test-nav-menu class='nav__menu {{if this.isNavOpen "active" ""}}'>
    <li>
      <a data-test-home-link href={{this.HOME_PAGE_URL}} class='nav__home'>
        <img
          data-test-home-img
          class='nav__home__img'
          src='assets/images/rds-logo.png'
          alt='Real_Dev_Squad'
        />
      </a>
    </li>
    <li>
      <a
        data-test-home
        class='nav__home__link nav__element'
        href={{this.HOME_URL}}
      >
        Home
      </a>
    </li>
    <li><a
        data-test-welcome
        class='nav__element'
        href={{this.WELCOME_URL}}
      >Welcome</a></li>
    <li><a
        data-test-events
        class='nav__element'
        href={{this.EVENTS_URL}}
      >Events</a></li>
    <li><a
        data-test-members
        class='nav__element'
        href={{this.MEMBERS_URL}}
      >Members</a></li>
    <li><a
        data-test-status
        class='nav__element'
        href={{this.STATUS_URL}}
      >Status</a></li>
    {{#if this.isDev}}
      <li>
        {{!-- TODO - remove query for dev when it goes to production --}}
        <LinkTo
          @route={{this.LIVE_URL}}
          @query={{hash dev='true'}}
          class='nav__element'
        >Live</LinkTo>
      </li>
    {{/if}}
  </ul>

  <div class='nav__login'>
    {{#if @isLoading}}
      <div data-test-loading class='nav__loading'>
        <Fa-Icon
          class='fa-inverse'
          @size='2x'
          @icon='circle-notch'
          @spin={{true}}
        />
      </div>
    {{else}}
      {{#if @isLoggedIn}}
        <button
          data-test-dropdown-toggle
          class='nav__user'
          type='button'
          {{on 'click' this.toggleMenu}}
          {{on-click-outside this.outsideClickMenu}}
        >
          <div data-test-user-name class='user__msg'>Hello, {{@firstName}}</div>
          <img
            data-test-user-image
            class='user__pic'
            src={{@profilePicture}}
            alt='User'
          />
          <Fa-Icon data-test-icon @icon='chevron-down' />
        </button>
      {{else}}
        <a data-test-login class='login' href={{this.AUTH_URL}}>
          <span class='login__signin'>Sign In</span>
          <span class='login__github'>with GitHub</span>
          <img
            data-test-login-img
            class='login__logo'
            src='assets/icons/github-logo.png'
            alt='GitHub'
            height='20px'
            width='20px'
          />
        </a>
      {{/if}}
    {{/if}}
  </div>

  <section
    data-test-dropdown
    class='menu {{if this.isMenuOpen "active-menu" ""}}'
  >
    <a data-test-profile href={{this.PROFILE_URL}} class='menu__link'>
      My Profile
    </a>
    <hr />
    <div
      id='signout'
      data-test-signout
      role='button'
      class='menu__link'
      {{on 'click' @signOut}}
    >
      Sign Out
    </div>
  </section>
</nav>