<OnboardingCard>
  <form>
    {{#if (eq this.currentStep 0)}}
      <SignupSteps::StepZero
        @currentStep={{this.currentStep}}
        @letsGoHandler={{this.letsGoHandler}}
      />
    {{else}}
      <img
        src='assets/icons/onboarding-card-rds-logo.png'
        alt='RDS-Logo'
        class='signup-details__rds-logo'
        data-test-rds-logo
      />
      {{#if (eq this.currentStep 1)}}
        <SignupSteps::StepOne
          @currentStep={{this.currentStep}}
          @incrementStep={{this.incrementStep}}
        />
      {{else if (eq this.currentStep 2)}}
        <SignupSteps::stepTwo @letsGoHandler={{this.letsGoHandler}} />
      {{/if}}
    {{/if}}
  </form>
</OnboardingCard>