<section class='animation__container'>
  {{#if @users}}
    <div>
      {{#each @users as |m index|}}
        <a
          href='https://members.realdevsquad.com/{{m.username}}'
          target='_blank'
          class='member__link'
          rel='noopener noreferrer'
        >
          <img
            style='--x: {{(this.randomX index)}}; --y:{{(this.randomY
              index
            )}}; --size:{{(this.randomSize)}};'
            class='circle member__img'
            src='{{(this.resizeImageUrl m.picture.publicId 150 150)}}'
            alt='{{m.first_name}} {{m.last_name}}'
          />
        </a>
      {{/each}}
    </div>
  {{else}}
    <div class='circle shine'></div>
  {{/if}}
</section>