<div data-test='profile-service' class='profile-service-page'>
  <h3 data-test='heading' class='profile-service-page__heading heading__h3'>
    Deploy Profile Service
  </h3>
  <p data-test='description' class='profile-service-page__description'>
    Set the chaincode on your profile service.<br />
    Deploy it and enter your profile service URL
  </p>
  <div class='profile-service-page__inputContainer'>
    <label
      for='profile-service-url'
      class='profile-service-page__inputContainer__input-label'
    ></label>
    <input
      data-test-input-field='profile-service'
      id='profile-service-url'
      class='profile-service-page__inputContainer__input-url'
      type='text'
      placeholder='Enter your profile service URL'
      value={{this.profileURL}}
      {{on 'keyup' this.changeProfileURL}}
    />
  </div>

  <div class='profile-service-page__button'>
    <Reusables::Button
      @text='Next'
      @variant='dark'
      @onClick={{this.handleEdit}}
      @test='next'
      @disabled={{this.nextButtonDisabled}}
      @type='button'
      @isLoading={{this.isLoading}}
    />
  </div>
</div>