<div data-test='profile-service' class='profile-service-page'>
  <h3 data-test='heading' class='profile-service-page__heading heading__h3'>
    Deploy Profile Service
  </h3>
  <p data-test='description' class='profile-service-page__description'>
    Set the chaincode on your profile service.<br />
    Deploy it and enter your profile service URL
  </p>
  <div class='profile-service-page__inputContainer'>
    <label
      for='profile-service-url'
      class='profile-service-page__inputContainer__input-label'
    ></label>
    <input
      data-test-input-field='profile-service'
      id='profile-service-url'
      class='profile-service-page__inputContainer__input-url'
      type='text'
      placeholder='Enter your profile service URL'
      value={{this.profileURL}}
      {{on 'keyup' this.changeProfileURL}}
    />
    <button
      data-test='tooltip'
      type='button'
      class='profile-service-page__inputContainer__tooltip'
      {{on 'mouseover' this.openTooltipInfo}}
      {{on 'mouseout' this.closeTooltipInfo}}
    >
      <FaIcon @icon='info-circle' @size='1x' />
    </button>
    <div
      data-test='tooltip-info'
      class='tooltip-info {{if this.isMouseOnTooltip "active-tooltip-info" ""}}'
    >
      <h4 class='tooltip-info__heading'>What is Profile Service URL?</h4>
      <div class='tooltip-info__container'>
        <p>Details in the template:</p>
        <a
          href='https://github.com/RahulGoyal-tech/profile-service-rds'
          target='_blank'
          rel='noopener noreferrer'
        >
          https://github.com/RahulGoyal-tech/profile-service-rds
        </a>
      </div>
    </div>
  </div>

  <div class='profile-service-page__button'>
    <Reusables::Button
      @text='Next'
      @variant='dark'
      @onClick={{this.handleEdit}}
      @test='next'
      @disabled={{this.nextButtonDisabled}}
      @type='button'
      @isLoading={{this.isLoading}}
    />
  </div>
</div>