<section data-test-profile-field class={{if @showError 'profile-field profile-field-error' 'profile-field'}}>
  <label data-test-profile-field-label class='profile-field-label' for={{@id}}>{{@label}}</label>
  <div class="profile-field-input-container">
    <img data-test-profile-field-icon src={{@icon_url}} alt="">
    <Input 
      data-test-profile-field-input
      @type="text" 
      id={{@id}}
      @value={{@value}}
      placeholder={{@placeholder}} 
      class="profile-field-input"
      required={{@required}}
      disabled={{@isDeveloper}}
      {{on 'input' this.inputFieldChanged}}
      {{on 'blur' this.checkInputValidation}}
    />
  </div>
  {{#if @showError}}
  <p data-test-profile-field-error class="profile-field-error-message">
    {{@errorMessage}}
  </p>
  {{/if}}
</section>