{{#if this.isImageSelected}}
  <h1 class="image-h1">
    Crop Selected Image
  </h1>

  <Profile::ImageCropper
    @image={{this.image}}
    @setImageCoordinates={{this.setImageCoordinates}}
  />
  <div>
    <button
      class='image-form__button profile-btn'
      type='button'
      disabled={{this.isImageUploading}}
      data-test-btn='back'
      {{on 'click' this.goBack}}
    >
      Back
    </button>
    <button
      class='image-form__button profile-btn'
      type='button'
      data-test-btn='upload-image'
      disabled={{this.isImageUploading}}
      {{on 'click' this.onSubmit}}
    >
      {{#if this.isImageUploading}}
        <Spinner />
      {{else}}
        Upload
      {{/if}}
    </button>
  </div>
  <p
    class='{{if
        this.imageUploadSuccess
        "message-text__success"
        "message-text__failure"
      }}'
  >
    {{this.statusMessage}}
  </p>

{{else}}
  <h1 class="image-h1">
    Upload Image
  </h1>
  <p class="image-p">( Max size 2MB )</p>
  <div
    data-test-drop-area
    class='drop-area {{if this.overDropZone "drop-area__highlight"}}'
    {{on 'drop' this.handleDrop}}
    {{on 'dragover' this.handleDragOver}}
    {{on 'dragenter' this.handleDragEnter}}
    {{on 'dragleave' this.handleDragLeave}}
  >
    <form class='image-form'>
      <p class='image-form__text'>
        Drag and drop file here or
      </p>
      <label
        class='image-form__button profile-btn
          {{if this.isImageUploading "image-form__button--disabled"}}'
        for='image'
        data-test-btn='browse'
      >
        Browse
      </label>
      <input
        class='image-form__input'
        type='file'
        id='image'
        accept='image/png, image/jpeg'
        {{on 'change' this.handleBrowseImage}}
      />
    </form>
  </div>
{{/if}}