<section class='joining'>
  <div class='joining__copy'>
    <h3 class='details' data-test-link-text>Here is your personalized link</h3>
    <p id='url' class='copy__link'>
      {{this.joinLink}}
    </p>
    <CopyButton
      data-test-copy-btn
      @target='#url'
      @onSuccess={{this.onSuccess}}
      @onError={{this.onError}}
      class='btn btn-dark'
    >
      Copy
    </CopyButton>
  </div>
  <div class='joining__info'>
    <p data-test-next-text>Next Steps :</p>
    <ol data-test-instructions>
      <li data-test-instone>Click on the copy button.</li>
      <li data-test-insttwo>Message copied link to Ankush Dharkar on
        <a data-test-insttwo-link href={{this.ANKUSH_TWITTER}}>Twitter</a>
      </li>
      <li data-test-instthree>Wait for him to verify the link</li>
      <li data-test-instfour>Wait for him to verify the link</li>
      <li data-test-instfive>
        If the link is verified you will hear back with a personalized joining
        link within 7 working days
      </li>
    </ol>
  </div>
  <Reusables::Button
    @test='back-to-home'
    @variant='light'
    @type='button'
    @onClick={{this.backToHome}}
    @text='Back to Home'
  />
</section>