  <h3 class='details' data-test-required-heading>
    Fields marked with
    <span class='required'>*</span>
    are mandatory
  </h3>

  <Reusables::TextAreaBox
    @field='Why you want to join Real Dev Squad?'
    @name='whyRds'
    @placeHolder='Tell us fun facts about you that makes you unique in not less than 100 words'
    @required={{true}}
    @value={{this.data.whyRds}}
    @onInput={{this.inputHandler}}
  />

  <Reusables::Dropdown
    @field='How did you hear about us?'
    @name='foundFrom'
    @placeHolder='Choose from below options'
    @required={{true}}
    @value={{this.data.foundFrom}}
    @options={{this.heardFrom}}
    @onChange={{this.inputHandler}}
  />