<form class='form__container'>
  <h3 class='details'>
    Fields marked with<span class='required'>*</span>
    are mandatory
  </h3>

  <Reusables::TextAreaBox
    @field='Introduce Yourself'
    @name='introduction'
    @placeHolder='We would love to know you in not more than 100 words'
    @required={{true}}
    @value={{this.introduction}}
    @onInput={{set this 'introduction'}}
  />

  <Reusables::InputBox
    @field='Your Skills'
    @name='skills'
    @placeHolder='Fuel us with your OP skills'
    @type='text'
    @required={{true}}
    @value={{this.skills}}
    @onInput={{set this 'skills'}}
  />

  <Reusables::InputBox
    @field='Name of your college/company'
    @name='skills'
    @placeHolder='Hogwarts School of Witchcraft and Wizardry'
    @type='text'
    @required={{true}}
    @value={{this.organization}}
    @onInput={{set this 'organization'}}
  />

  <Reusables::TextAreaBox
    @field='What do you do for fun?'
    @name='fun'
    @placeHolder="Tell us about the things you do in your spare time. Do you play any sports like Cricket? Or are you into reading books or watching movies? Feel free to tell us whatever you'd like. We would love to know more about you in not less than 100 words"
    @required={{true}}
    @value={{this.funActivities}}
    @onInput={{set this 'funActivities'}}
  />

  <Reusables::TextAreaBox
    @field='Fun facts about you'
    @name='facts'
    @placeHolder='Tell us fun facts about you that makes you unique in not less than 100 words'
    @required={{true}}
    @value={{this.funFacts}}
    @onInput={{set this 'funFacts'}}
  />
</form>