<form class='form__container'>
  <h3 class='details' data-test-required-heading>
    Fields marked with
    <span class='required'>*</span>
    are mandatory
  </h3>

  <Reusables::InputBox
    @field='Your City'
    @name='city'
    @placeHolder='e.g. Bengaluru'
    @type='text'
    @required={{true}}
    @value={{this.city}}
    @onInput={{set this 'city'}}
  />

  <Reusables::InputBox
    @field='Your State'
    @name='state'
    @placeHolder='e.g. Karnataka'
    @type='text'
    @required={{true}}
    @value={{this.state}}
    @onInput={{set this 'state'}}
  />

  <Reusables::Dropdown
    @field='Your Country'
    @name='country'
    @placeHolder='Choose your country'
    @required={{true}}
    @value={{@data.country}}
    @options={{this.countries}}
    @onChange={{set this 'country'}}
  />
</form>