<body>
  <Navbar
    @firstName={{this.login.userData.first_name}}
    @profilePicture={{this.login.userData.picture.url}}
    @isLoggedIn={{this.login.isLoggedIn}}
    @signOut={{this.signOut}}
  />
  {{outlet}}
  <ScrollToTop />
  <Footer />
</body>