{{page-title "Identity"}}

<div class="identity-page">
  <img alt="header" class="identity-header" src="/assets/images/identity/header.svg" />
  <img alt="hero" class="identity-hero" src="/assets/images/identity/hero.svg" />
  <img alt="rds" class="identity-rds-logo" src="/assets/images/identity/logo.svg" />

  {{#if (eq this.initialState "getStarted")}}
    <div class="identity-heading">
      Connect your Profile Service with Identity Service
    </div>
  {{/if}}
  
  <div class="identity-box">
    {{#if (eq this.initialState "getStarted")}}
      <Identity::GetStarted @setState={{this.setState}} />
    {{else if (eq this.state 'step1')}}
      <Identity::Step1 @setState={{this.setState}} />
    {{else if (eq this.state 'step2')}}
      <Identity::Step2
        @setState={{this.setState}}
        @profileURL={{this.profileURL}}
      />
    {{else if (eq this.state 'step3')}}
      <Identity::Step3 @setState={{this.setState}} />
     {{else if (eq this.initialState 'reload')}}
      <Identity::Reload />
       {{else if (eq this.initialState 'verified')}}
      <Identity::Verified />
      {{else if (eq this.initialState 'blocked')}}
      <Identity::Blocked />
    {{/if}}
  </div>
  
  <img
    alt='header-hero'
    class='identity-header-hero'
    src='/assets/images/identity/header-hero.svg'
    width='10%'
  />
  <img
    alt='footer'
    class='identity-footer'
    src='/assets/images/identity/footer.svg'
    width='100%'
  />
</div>

