{{page-title "Intro"}}

<section class="intro__container">
  {{#if this.login.isLoading}}
    <div data-test-loading class='intro__loading'>
      <Fa-Icon @size='2x' @icon='circle-notch' @spin={{true}} />
    </div>
  {{else}}
    {{#if this.login.userData.roles.super_user}}
      <ApplicantIntro 
        @data={{this.model}} 
        @isLoading={{this.login.isLoading}}
        @isSuperUser={{this.login.userData.roles.super_user}} />

        <!-- Textbox with no limit -->
        <textarea class="comment-box" placeholder="Enter your comments here..."></textarea>  

        <!-- Approve/Reject Buttons -->
        <div class="action-buttons">
          <button class="approve-button" {{on "click" this.approveAction}}>Approve</button>
          <button class="reject-button" {{on "click" this.rejectAction}}>Reject</button>
        </div>

    {{else}}
      <Unauthorized />
    {{/if}}
  {{/if}}
</section>