{{page-title 'Join'}}
<section class='join__container'>
  {{#if this.loading}}
    <div data-test-loading class='intro__loading'>
      <Fa-Icon @size='2x' @icon='circle-notch' @spin={{true}} />
    </div>
  {{else}}
    {{!-- Quick hack for unblocking everyone - https://github.com/Real-Dev-Squad/website-www/issues/895 --}}
    {{#if false}} {{!-- {{#if this.login.userData.roles.archived}} --}}
      <OnboardingCard>
        <h3 data-test-archived-heading class='archived__heading'>Archived User</h3>
        <p data-test-archived-message class='archived__message'>
          This user account has been archived. If you have any questions or need
          assistance, please contact Ankush via Twitter.
        </p>
        <div
          data-test-archived-contact-container
          class='archived__contact-container'
        >
          <a
            href={{this.ANKUSH_TWITTER}}
            data-test-archived-contact-link
            class='archived__contact-link'
            target='_blank'
            rel='noopener noreferrer'
          >
            Contact Ankush on Twitter
          </a>
        </div>
      </OnboardingCard>
    {{else}}
      {{#if this.applicationData}}
        <JoinSteps::StatusCard 
          @status={{this.applicationData.status}}
          @feedback={{this.applicationData.feedback}}
          @joinDiscord={{this.joinDiscordHandler}}
        />
      {{else}}
        {{#if this.isDevMode}}
          <StepperSignup
            @chaincode={{this.chaincode}}
            @isChaincodeClicked={{this.isChaincodeClicked}}
            @isLoading={{this.isLoading}}
            @handleGenerateChaincode={{this.handleGenerateChaincode}}
          />
        {{else}}
          <Stepper />
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}
</section>
