{{page-title 'Live'}}

<div id='live' data-test-live>
  <LiveHeader
    @tabs={{this.TABS}}
    @activeTab={{this.activeTab}}
    @tabHandler={{this.tabHandler}}
  />
  {{! TODO - add more else if statement instead of only else }}
  {{#if (eq this.activeTab 'Screenshare')}}
    {{#if this.isJoined}}
      <div class='live__video-container' data-test-video-container>
        {{! TODO - add skeleton to the whole structure }}
        {{#if this.isLoading}}
          <Reusables::Skeleton />
        {{else}}
          {{! TODO - Remove this dummy src and it's video }}
          <VideoScreen @src='/assets/birds_footage.mp4' />
        {{/if}}
      </div>
      <div class='live__panel-container'>
        <LivePanel />
      </div>
    {{else}}
      <LiveJoin
        @name={{this.name}}
        @inputHandler={{this.inputHandler}}
        @clickHandler={{this.clickHandler}}
      />
    {{/if}}
  {{else}}
    {{! TODO - add the respective component here }}
    <p>{{this.activeTab}} Component</p>
  {{/if}}

</div>