{{page-title 'Live'}}

<div id='live' data-test-live>
  <LiveHeader
    @tabs={{this.TABS}}
    @activeTab={{this.activeTab}}
    @tabHandler={{this.tabHandler}}
  />
  {{#if (eq this.activeTab 'Screenshare')}}
    <div class='live__video-container' data-test-video-container>
      {{#if this.isLoading}}
        <Reusables::Skeleton />
      {{else}}
        <VideoScreen @src='/assets/birds_footage.mp4' />
      {{/if}}
    </div>
  {{else}}
    <p>{{this.activeTab}} Component</p>
  {{/if}}
</div>