{{page-title 'Live'}}

<div id='live' data-test-live>
  <LiveHeader
    @tabs={{this.TABS}}
    @activeTab={{this.activeTab}}
    @tabHandler={{this.tabHandler}}
  />

  <BaseModal
    @closeModal={{this.closeKickoutModal}}
    @openModal={{this.openKickoutModal}}
    @isOpen={{this.isKickoutModalOpen}}
    as |modal|
  >
    <KickoutModal
      @closeModal={{modal.closeModal}}
      @message='Do you want to remove {{this.peerToRemove.name}}?'
      @closeText='Cancel'
      @confirmText='Remove'
      @confirmHandler={{this.removePeer}}
    />
  </BaseModal>
  <BaseModal
    @closeModal={{this.toggleRoomCodeModal}}
    @openModal={{this.toggleRoomCodeModal}}
    @isOpen={{this.isRoomCodeModalOpen}}
    as |modal|
  >
    <RoomCodeModal
      @roomCodes={{this.liveService.roomCodesForMaven}}
      @closeModal={{modal.closeModal}}
      @newCode={{this.newRoomCode}}
      @onInput={{fn this.inputHandler 'newRoomCode'}}
      @createRoomCode={{this.createRoomCodeHandler}}
      @toast={{this.liveService.toast}}
      @isLoading={{this.liveService.roomCodeLoading}}
    />
  </BaseModal>
  <BaseModal
    @closeModal={{this.toggleWarningModal}}
    @openModal={{this.toggleWarningModal}}
    @isOpen={{this.isWarningModalOpen}}
    as |modal|
  >
    <KickoutModal
      @closeModal={{modal.closeModal}}
      @message='Are you sure to end this event?'
      @closeText='Cancel'
      @confirmText='End'
      @confirmHandler={{(fn this.buttonClickHandler 'leave-room')}}
    />
  </BaseModal>
  {{! TODO - add more else if statement instead of only else }}
  {{#if (eq this.activeTab 'Screenshare')}}
    {{#if this.liveService.isLoading}}
      <div data-test-loading class='live__loader-container'>
        <Fa-Icon @size='2x' @icon='circle-notch' @spin={{true}} />
      </div>
    {{else}}
      {{#if this.liveService.isJoined}}
        <div class='live__container'>
          <div
            class='live__video-container
              {{if this.liveService.isScreenShareOn "bg-black" ""}}'
            data-test-video-container
          >
            {{! TODO - add skeleton to the whole structure }}
            {{#if this.isLoading}}
              <Reusables::Skeleton />
            {{else}}
              <VideoScreen @src='/assets/starting-soon.mp4' />
            {{/if}}
          </div>
          <div class='container__sidebar'>
            {{#if this.isLoading}}
              <Reusables::Skeleton />
            {{else}}
              <LiveSidebar
                @openKickoutModal={{this.openKickoutModal}}
                @peers={{this.liveService.peers}}
                @peerToRemove={{this.peerToRemove}}
              />
            {{/if}}
          </div>
        </div>
        <div class='live__panel-container'>
          {{#if this.isLoading}}
            <Reusables::Skeleton />
          {{else}}
            <LivePanel
              @isScreenShareOn={{this.liveService.isScreenShareOn}}
              @isCopied={{this.isCopied}}
              @role={{this.role}}
              @buttonClickHandler={{this.buttonClickHandler}}
              @openRoomCodeModal={{this.toggleRoomCodeModal}}
              @openWarningModal={{this.toggleWarningModal}}
            />
          {{/if}}
        </div>
      {{else}}
        {{#if (eq this.role '')}}
          <LiveRoles
            @roles={{this.ROLES}}
            @clickHandler={{this.selectRoleHandler}}
          />
        {{else}}
          <LiveJoin
            @role={{this.role}}
            @name={{this.name}}
            @roomCode={{this.roomCode}}
            @inputHandler={{this.inputHandler}}
            @clickHandler={{this.clickHandler}}
            @backHandler={{this.backHandler}}
            @buttonText={{this.buttonText}}
          />
        {{/if}}
      {{/if}}
    {{/if}}
  {{else if (eq this.activeTab 'Logs')}}
    <div class='live__section'>
      <Events::LogsPage />
    </div>
  {{else}}
    {{! TODO - add the respective component here }}
    <p class='live__section'>Coming Soon!</p>
  {{/if}}

</div>