<LiveHeader
  @tabs={{this.TABS}}
  @activeTab={{this.activeTab}}
  @tabHandler={{this.tabHandler}}
/>
{{#if (eq this.activeTab 'Screenshare')}}
  <LiveJoin />
{{else}}
  <p>{{this.activeTab}} Component</p>
{{/if}}