{{page-title "User Status"}}

<div class="status-container">
  <UserStatus
    @status={{this.status}}
    @changeStatus={{this.changeStatus}}
    @isStatusUpdating={{this.isStatusUpdating}}
    @updateStatus={{this.updateStatus}}
    @dev={{this.isDevMode}}
    @statusUpdateForDev={{this.statusUpdateForDev}}
  />

  <UserStatusModal
    @isStatusUpdating={{this.isStatusUpdating}}
    @newStatus={{this.newStatus}}
    @showUserStateModal={{this.showUserStateModal}}
    @toggleUserStateModal={{this.toggleUserStateModal}}
    @updateStatus={{this.updateStatus}}
    @dev={{this.isDevMode}}
    @statusUpdateForDev={{this.statusUpdateForDev}}
  />
</div>