{{page-title 'My Tasks'}}

<div class='tasks-page'>
  {{!-- TODO: add message when user is not logged in --}}
  <TaskTabs
    @taskStatusList={{this.tabsTaskStatusList}}
    @showDropDown={{this.showDropDown}}
    @toggleDropDown={{this.toggleDropDown}}
    @changeUserSelectedTask={{this.changeUserSelectedTask}}
    @userSelectedTaskText={{this.userSelectedTask.displayLabel}}
    @showTasks={{this.showTasks}}
    @toggleTasks={{this.toggleTasks}}
  />
</div>